<div class="card-container">
<div class="top-div">
</div>
<div class="bot-div">
  <div class="title">
    <h4>Recipe Title:{{card[0].title}}</h4>
    <h5>Recipe ID: {{card[0].id}}</h5>
  <span>CookTime: {{card[0].cookTime}} Minutes</span>
  </div>
  <div class="description">
    <p>Description:{{card[0].description}}</p>
  </div>
  <div class="ingredient-container" >
  </div>
</div>
</div>

<!-- 
  id: number;
  avgPrice: number;
  calories: number;
  cookTime: number;
  description: string;
  dietType: DietTypeModel;
  imgUrl: string;
  ingredients: IngredientModel;
  prepTime: number;
  title: string;
-->